<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <h:outputStylesheet library="css" name="styles.css"/>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>#{msgs.enterDate}</h1>
            <h:panelGrid id="date" columns="2">
                <!-- validate when the form is submitted -->
                <f:event type="postValidate" listener="#{date.validateDate}"/>
                #{msgs.day}
                <h:inputText id="day" value="#{date.day}" size="2"
                             required="true"/>

                #{msgs.month}
                <h:inputText id="month" value="#{date.month}"
                             size="2" required="true"/>

                #{msgs.year}
                <h:inputText id="year" value="#{date.year}"
                             size="4" required="true"/>
            </h:panelGrid>
            <h:message for="date" styleClass="errorMessage"/>
            <br/>
            <h:commandButton value="#{msgs.submit}" action="result"/>
            <h:commandButton value="#{msgs.back}" action="index" immediate="true"/>
        </h:form>
    </h:body>
</html>