<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:view>
        <!-- System preRenderView event -->
        <f:event type="preRenderView" listener="#{user.checkLogin}"/>
        <h:head>
            <title>Welcome</title>
        </h:head>
        <h:body>
            <h3><h:outputText value="Welcome to JavaServer Faces, #{user.name}!" /></h3>
            <h:form>
                <h:commandButton value="Logout" action="#{user.logout}" />
                <h:commandButton value="Continue" action="enterDate" />
            </h:form>
        </h:body>
    </f:view>
</html>
