<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>Welcome</title>
    </h:head>
    <h:body>
        <h:form>
            <h3>Please enter your name and password.</h3>
            <table>
                <tr>
                    <td>Name:</td>
                    <td><h:inputText id="name" value="#{user.name}" /></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><h:inputSecret value="#{user.password}" required="true" /></td>
                </tr>
            </table>
            <p><h:commandButton value="Login" action="#{user.login}" /></p>
        </h:form>
    </h:body>
</html>
