<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <h:form>
            <p>#{msgs.validDate}</p>
            <p><h:commandButton value="#{msgs.back}" action="index"/></p>
        </h:form>
    </h:body>
</html>
